html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background: #fff;
    height: 100vh;
}
body.dark-theme {
    background: #121212;
    color: #fff;
}
.cover{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
.header-white {
    color: #fff !important;
}
.ui.header {
    color: white !important;
}
.container {
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-container {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-top: 9rem;
}
.current-weather, .feels-like {
    font-size: 2rem;
    text-shadow: 3px 3px 2px rgba(10, 10, 10, 1);
}
.feels-like {
    margin-top: 20px;
}
.current-weather-container {
    flex-direction: column;
    padding-top: 5rem;
}
#gif-picture {
    max-height: 300px;
}
@media screen and (max-width: 900px) {
     .gif-picture-mob {
        width: 100%;
        height: auto;
        max-height: none;      
     }   
}